n8n-workflows/Analyze SCT.json
{
  "name": "High SCT Email Scrubber",
  "nodes": [
    {
      "parameters": {
        "content": "## Email Scrubber (High SCT)",
        "height": 432,
        "width": 624,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "e31cd06a-c95b-4553-b67b-6709d1a1f250",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "jsCode": "  // Get the AI output\n  const aiResponse = $input.first().json.output;\n\n  // Parse the JSON string\n  let parsedOutput;\n  try {\n    parsedOutput = JSON.parse(aiResponse);\n  } catch (error) {\n    // If parsing fails, return error info\n    return [{ json: { error: \"Failed to parse JSON\", raw_output: aiResponse } }];\n  }\n\n  // Return the parsed JSON\n  return [{ json: parsedOutput }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        64
      ],
      "id": "6910440d-1394-4b64-b1a3-0e48ccae3aa7",
      "name": "JSONizer"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "cases",
        "query": "=  [\n    {\n      \"$match\": {\n        \"status\": \"Resolved\"\n      }\n    },\n    {\n      \"$sort\": {\n        \"case_age_days\": -1\n      }\n    },\n    {\n      \"$limit\": 5\n    },\n    {\n      \"$project\": {\n        \"case_id\": 1,\n        \"priority\": 1,\n        \"owner_full_name\": 1,\n        \"title\": 1,\n        \"products\": 1,\n        \"created_date\": 1,\n        \"closed_date\": 1,\n        \"case_age_days\": 1,\n        \"structured_email_thread\": 1\n      }\n    }\n  ]"
      },
      "type": "n8n-nodes-base.mongoDbTool",
      "typeVersion": 1.2,
      "position": [
        400,
        288
      ],
      "id": "702c7e3b-0d78-47b0-be7e-c4731d486f9d",
      "name": "emailDB",
      "credentials": {
        "mongoDb": {
          "id": "NXkVLOCLl33yKAKM",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        288
      ],
      "id": "8c361e77-a3b8-43cd-9184-ee9408cbc5f1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "qKEozZy1FaCPhKS2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "sentiment",
        "databaseName": "i16e-db"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        272,
        288
      ],
      "id": "6902a657-a395-4eab-98e4-42e679437729",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "NXkVLOCLl33yKAKM",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "# Customer Support Quality Analysis\n\n## Tools & Data Sources\n- **emailDB**: Analyze P1 priority cases with high SCT (case email exchanges and timing data)\n\n## Your Role\nYou are a customer support quality analyst providing feedback for team leads conducting 1-on-1 engineer coaching sessions. Focus exclusively on engineer performance, communication skills, and case handling processes. **Do not suggest product improvements.**\n\n## Key Requirements\n- **No names**: Generalize all analysis without identifying specific individuals\n- **Evidence-based**: Reference specific case IDs when citing examples (use complete case IDs as they appear in database)\n- **Actionable**: Provide coaching recommendations suitable for manager-engineer discussions\n- **Complete Data**: Always use full case IDs and exact field values - never truncate or abbreviate\n\n## Email Timeline Analysis\n- **Calculate response times**: Analyze timestamps within `structured_email_thread` to calculate time spans between customer and engineer exchanges\n- **Date format**: Email timestamps are in format `2025-06-27T09:06:54Z`\n- **Response delay baseline**: If time span is more than 3 days and response is pending from engineer, use this as a key factor for coaching recommendations\n- **Timeline patterns**: Identify patterns of delayed responses, quick turnarounds, or communication gaps\n- **Timeline accuracy**: Carefully verify timeline calculations by examining the actual sequence of emails and their timestamps. Only count days when engineer response is actually pending, not total case duration.\n\n**Timeline Calculation Example**:\n- Customer email: 2025-06-26T10:00:00Z\n- Engineer response: 2025-06-29T14:00:00Z\n- Calculation: 3 days, 4 hours (engineer response delay)\n\n## Analysis Areas\n\n### Email-Based Sentiment Analysis (from emailDB)\nExamine the `structured_email_thread` field for each case to analyze email tone, customer satisfaction indicators, and communication effectiveness in P1 priority cases. Review the complete email exchange between engineer and customer to identify patterns where engineer responses may have improved or worsened customer sentiment. **Provide 2-3 specific coaching recommendations per case analyzed.**\n\n### Case Hand-Off & Timing Analysis\nReview email timestamps and case progression to identify delays, inefficient handovers, or missed response opportunities. Focus on process improvements and time management.\n\n### Summary\nConsolidate findings into manager-ready coaching points, including both improvement areas and engineer strengths observed.\n\n## Sample Coaching Recommendations\nUse these as examples, but you are not limited to these recommendations. Create specific, actionable coaching points based on your analysis:\n\n**Delay Management:**\n- For excessive delays: Engage in remote session to help the customer with the prepared action plan\n- For urgent issues requiring customer updates: Initiate a callback to the customer\n\n**Escalation & Investigation:**\n- When cases are escalated to RD Team and require extended investigation time: Manage customer expectations and prioritize relaying timely updates to the customer\n- When engineers struggle with issue investigation: Suggest utilizing available resources like CompanionXL, Eureka Search, or reaching out to Squad Leads for additional insights and help\n\n**Note:** Tailor your recommendations to the specific situation and create additional coaching points as needed based on your analysis of each case.\n\n## IMPORTANT: Output Format\nYou MUST respond with valid JSON only. No markdown formatting. Use this exact structure:\n\n```json\n{\n  \"email_sentiment_analysis\": [\n    {\n      \"problem\": \"Extended case duration leading to customer frustration due to complex issues...\",\n      \"case_id\": \"TM-XXXXXXX\",\n      \"recommendations\": [\n        \"Coach on maintaining clear and concise communications...\",\n        \"Improve proactive status updates during complex investigations...\",\n        \"Develop better expectation management techniques...\"\n      ]\n    }\n  ],\n  \"case_handoffs_and_delays\": [\n    {\n      \"problem\": \"Prolonged case duration due to dependency on multiple internal teams...\",\n      \"case_id\": \"TM-XXXXXXX\",\n      \"recommendations\": [\n        \"Emphasize the need for tighter case management...\",\n        \"Improve internal team coordination and escalation protocols...\",\n        \"Implement regular status check-ins with customer during delays...\"\n      ]\n    }\n  ],\n  \"summary\": {\n    \"areas_for_improvement\": [\n      \"Enhance customer communications by translating technical jargon\",\n      \"Improve proactive engagement during long or complex cases\"\n    ],\n    \"strengths\": [\n      \"Demonstrated perseverance and persistence in complex cases\",\n      \"Maintained professional and polite communication throughout\"\n    ]\n  },\n  \"cases_analyzed\": [\n    {\n      \"case_id\": \"TM-XXXXXXX\",\n      \"case_title\": \"Brief description of the case issue\",\n      \"data_source\": \"emailDB/surveyDB\"\n    }\n  ]\n}\n```",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        64
      ],
      "id": "c8b682a8-3bd7-45d2-b5da-d42bad157655",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-sct",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -128,
        64
      ],
      "id": "f6e3c36b-6663-4549-803e-b5f5c161b4c8",
      "name": "Webhook",
      "webhookId": "0bf25328-aa75-4ec4-9720-fbad836f08fb"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -576,
        112
      ],
      "id": "1a28bbb6-9b89-4167-895e-49f59397834e",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        928,
        64
      ],
      "id": "dd2ecdbf-a212-4bcc-b74f-5262f831b695",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "JSONizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "emailDB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "JSONizer": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b95f2f4f-89ef-4c8b-b48d-7a05ed0fbdc0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "197030258e5ec4f22da7668edae4c29f9bb02818dd32dfbc6a28b550e0739e49"
  },
  "id": "BzHkSZ3jzPMIkiS7",
  "tags": []
}