n8n-workflows/Chatbot.json
{
  "name": "Chatbot",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {
          "title": "i16e assistant",
          "customCss": ":root {\n  /* Colors - Dashboard Harmony */\n  --chat--color-primary: hsl(217, 91%, 60%);\n  --chat--color-primary-shade-50: hsl(217, 89%, 55%);\n  --chat--color-primary-shade-100: hsl(217, 87%, 50%);\n  --chat--color-secondary: hsl(142, 76%, 56%);\n  --chat--color-secondary-shade-50: hsl(142, 76%, 46%);\n  --chat--color-white: hsl(0, 0%, 100%);\n  --chat--color-light: hsl(210, 20%, 98%);\n  --chat--color-light-shade-50: hsl(217, 20%, 95%);\n  --chat--color-light-shade-100: hsl(220, 13%, 91%);\n  --chat--color-medium: hsl(217, 20%, 95%);\n  --chat--color-dark: hsl(215, 25%, 15%);\n  --chat--color-disabled: hsl(215, 16%, 46%);\n  --chat--color-typing: hsl(215, 16%, 46%);\n\n  /* Base Layout - Dashboard Aligned */\n  --chat--spacing: 1rem;\n  --chat--border-radius: 0.5rem;\n  --chat--transition-duration: 0.3s;\n  --chat--font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;\n\n  /* Window Dimensions */\n  --chat--window--width: 400px;\n  --chat--window--height: 600px;\n  --chat--window--bottom: var(--chat--spacing);\n  --chat--window--right: var(--chat--spacing);\n  --chat--window--z-index: 9999;\n  --chat--window--border: 1px solid hsl(220, 13%, 91%);\n  --chat--window--border-radius: var(--chat--border-radius);\n  --chat--window--margin-bottom: var(--chat--spacing);\n\n  /* Header Styles - Dashboard Style */\n  --chat--header-height: auto;\n  --chat--header--padding: 1rem;\n  --chat--header--background: hsl(217, 91%, 60%);\n  --chat--header--color: hsl(0, 0%, 100%);\n  --chat--header--border-top: none;\n  --chat--header--border-bottom: 1px solid hsl(217, 87%, 50%);\n  --chat--header--border-left: none;\n  --chat--header--border-right: none;\n  --chat--heading--font-size: 1.125rem;\n  --chat--subtitle--font-size: 0.875rem;\n  --chat--subtitle--line-height: 1.5;\n\n  /* Message Styles - Clean & Readable */\n  --chat--message--font-size: 0.875rem;\n  --chat--message--padding: 0.75rem;\n  --chat--message--border-radius: var(--chat--border-radius);\n  --chat--message-line-height: 1.5;\n  --chat--message--margin-bottom: 0.75rem;\n  --chat--message--bot--background: hsl(0, 0%, 100%);\n  --chat--message--bot--color: hsl(215, 25%, 15%);\n  --chat--message--bot--border: 1px solid hsl(220, 13%, 91%);\n  --chat--message--user--background: hsl(217, 91%, 60%);\n  --chat--message--user--color: hsl(0, 0%, 100%);\n  --chat--message--user--border: none;\n  --chat--message--pre--background: hsl(217, 20%, 95%);\n  --chat--messages-list--padding: var(--chat--spacing);\n\n  /* Toggle Button - Hidden (using wrapper) */\n  --chat--toggle--size: 0px;\n  --chat--toggle--width: 0px;\n  --chat--toggle--height: 0px;\n  --chat--toggle--border-radius: 0%;\n  --chat--toggle--background: transparent;\n  --chat--toggle--hover--background: transparent;\n  --chat--toggle--active--background: transparent;\n  --chat--toggle--color: transparent;\n\n  /* Input Area - Dashboard Style */\n  --chat--textarea--height: 50px;\n  --chat--textarea--max-height: 30rem;\n  --chat--input--font-size: 0.875rem;\n  --chat--input--border: 1px solid hsl(220, 13%, 91%);\n  --chat--input--border-radius: var(--chat--border-radius);\n  --chat--input--padding: 0.75rem;\n  --chat--input--background: hsl(0, 0%, 100%);\n  --chat--input--text-color: hsl(215, 25%, 15%);\n  --chat--input--line-height: 1.5;\n  --chat--input--placeholder--font-size: var(--chat--input--font-size);\n  --chat--input--border-active: 2px solid hsl(217, 91%, 60%);\n  --chat--input--left--panel--width: 2rem;\n\n  /* Button Styles - Dashboard Harmony */\n  --chat--button--color: hsl(0, 0%, 100%);\n  --chat--button--background: hsl(217, 91%, 60%);\n  --chat--button--padding: 0.5rem 1rem;\n  --chat--button--border-radius: var(--chat--border-radius);\n  --chat--button--hover--color: hsl(0, 0%, 100%);\n  --chat--button--hover--background: hsl(217, 89%, 55%);\n  --chat--close--button--color-hover: hsl(217, 91%, 60%);\n\n  /* Send and File Buttons */\n  --chat--input--send--button--background: hsl(217, 91%, 60%);\n  --chat--input--send--button--color: hsl(0, 0%, 100%);\n  --chat--input--send--button--background-hover: hsl(217, 89%, 55%);\n  --chat--input--send--button--color-hover: hsl(0, 0%, 100%);\n  --chat--input--file--button--background: hsl(210, 40%, 96%);\n  --chat--input--file--button--color: hsl(142, 76%, 56%);\n  --chat--input--file--button--background-hover: hsl(217, 20%, 95%);\n  --chat--input--file--button--color-hover: hsl(142, 76%, 46%);\n  --chat--files-spacing: 0.25rem;\n\n  /* Body and Footer */\n  --chat--body--background: hsl(210, 20%, 98%);\n  --chat--footer--background: hsl(210, 20%, 98%);\n  --chat--footer--color: hsl(215, 25%, 15%);\n}\n\n/* Global font and styling overrides */\n* {\n  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !important;\n}\n\n/* Message styling */\n.chat-message {\n  max-width: 70% !important;\n  font-family: inherit !important;\n  font-size: 0.875rem !important;\n  line-height: 1.5 !important;\n}\n\n/* Input styling */\n.chat-input, .chat-input input, .chat-input textarea {\n  font-family: inherit !important;\n  font-size: 0.875rem !important;\n}\n\n/* Header styling */\n.chat-header, .chat-header h1, .chat-header h2, .chat-header h3 {\n  font-family: inherit !important;\n  font-weight: 600 !important;\n  font-size: 1.125rem !important;\n}\n\n/* Button styling */\n.chat-button, button {\n  font-family: inherit !important;\n  font-weight: 500 !important;\n  transition: all 0.3s ease !important;\n}\n\n/* Remove default toggle button */\n.chat-toggle {\n  display: none !important;\n}\n\n/* Body text */\np, span, div {\n  font-family: inherit !important;\n}\n\n/* Scrollbar styling */\n::-webkit-scrollbar {\n  width: 6px;\n}\n\n::-webkit-scrollbar-track {\n  background: hsl(217, 20%, 95%);\n}\n\n::-webkit-scrollbar-thumb {\n  background: hsl(217, 91%, 60%);\n  border-radius: 3px;\n}\n\n::-webkit-scrollbar-thumb:hover {\n  background: hsl(217, 89%, 55%);\n}\n\n/* Hide the chat header section completely */\n.chat-header {\n  display: none !important;\n}\n\n/* Hide chat intro/welcome section */\n.chat-intro, .chat-welcome {\n  display: none !important;\n}\n\n/* Hide any title or subtitle elements */\n.chat-title, .chat-subtitle {\n  display: none !important;\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "f043387e-4957-4d4b-bef1-358595dfc7e3",
      "name": "When chat message received",
      "webhookId": "850736dd-ddac-4e8d-9ea4-799c64607835"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=\"chat+\"{{new Date().toISOString().split('T')[0]}}\"",
        "databaseName": "i16e-db"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [688, 176],
      "id": "e08c5660-65a8-4c2b-834c-c02b143eca46",
      "name": "MongoDB Chat Memory2",
      "credentials": {
        "mongoDb": {
          "id": "Pl29NJOEfuRbqWf6",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [528, 176],
      "id": "92ebd1a5-1219-48bc-bd4d-405d4c84a195",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "f4hPmYjzWQEUBTKk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "raw_survey_data",
        "query": "={{ $('Query Builder').item.json.output }}"
      },
      "type": "n8n-nodes-base.mongoDbTool",
      "typeVersion": 1.2,
      "position": [912, 176],
      "id": "51949fbf-348d-4568-afcc-578ed77b1258",
      "name": "Customer Surveys",
      "credentials": {
        "mongoDb": {
          "id": "Pl29NJOEfuRbqWf6",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "# Customer Support Database Assistant\n\nYou are a customer support data assistant that helps analyze cases and surveys. You have access to MongoDB databases containing case emails and customer satisfaction data.\n\n## Available Tools\n\n**Cases Tool**\n- Contains: Case IDs with complete email exchanges between customers and engineers\n- Use for: Any questions about specific cases, case details, customer communications, or technical issues\n\n## Survey Classification System\n**CSAT (Customer Satisfied)**: Overall Satisfaction score of 4 or 5\n**DSAT (Customer Dissatisfied)**: Overall Satisfaction score of 1 or 2\n**NEUT (Neutral)**: Overall Satisfaction score of 3\n\n### Score Computations\n- **Overall CSAT Score**: (Count of surveys with Overall Satisfaction 4 or 5 ÷ Total surveys) × 100\n- **Overall DSAT Score**: (Count of surveys with Overall Satisfaction 1 or 2 ÷ Total surveys) × 100\n- **Overall NEUT Score**: (Count of surveys with Overall Satisfaction 3 ÷ Total surveys) × 100\n\n## STRICT Tool Usage Rules\n\n1. **ALWAYS query data first** - Never provide analysis or recommendations without retrieving actual data\n2. **Use Cases tool when users ask about:**\n   - Specific case numbers (e.g., \"Tell me about case TM-03737326\")\n   - Case details, status, or history\n   - Customer-engineer communications\n   - Technical issues or resolutions\n\n3. **Use Support Surveys tool when users ask about:**\n   - Customer satisfaction scores\n   - Survey feedback or ratings (CSAT/DSAT/NEUT analysis)\n   - Service quality analysis\n   - Customer sentiment trends\n\n4. **For general questions** - Use Cases tool first to search relevant cases, then Support Surveys if satisfaction data is needed\n\n## Sample Coaching Recommendations\nUse these as examples, but you are not limited to these recommendations. Create specific, actionable coaching points based on your analysis:\n\n**Actionable**: Provide coaching recommendations suitable for manager-engineer discussions\n\n**Delay Management:**\n- For excessive delays: Engage in remote session to help the customer with the prepared action plan\n- For urgent issues requiring customer updates: Initiate a callback to the customer\n\n**Escalation & Investigation:**\n- When cases are escalated to RD Team and require extended investigation time: Manage customer expectations and prioritize relaying timely updates to the customer\n- When engineers struggle with issue investigation: Suggest utilizing available resources like CompanionXL, Eureka Search, or reaching out to Squad Leads for additional insights and help\n\n**Product Limitations:**\n- When faced with product limitations: Clearly communicate limitations to the customer, set proper expectations about what can and cannot be achieved\n- For customer requests beyond current product capabilities: File a feature request to R&D Team and provide the customer with the feature request number for tracking\n\n## Response Format\n1. Query appropriate tool(s) with user's request\n2. Analyze retrieved data using proper survey classifications\n3. Provide clear, data-backed responses\n4. Reference specific case numbers or survey data in your answers\n\n**Remember: No guessing, no assumptions - always retrieve data first.**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [624, 0],
      "id": "588cfb02-e7b3-49d9-aaf7-9552a2c631f0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "cases",
        "query": "={{ $('Query Builder').item.json.output }}"
      },
      "type": "n8n-nodes-base.mongoDbTool",
      "typeVersion": 1.2,
      "position": [800, 176],
      "id": "b949c611-bfef-4286-b960-5c6ddd341406",
      "name": "Cases",
      "credentials": {
        "mongoDb": {
          "id": "Pl29NJOEfuRbqWf6",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "inputs": {
          "input": [
            {
              "type": "ai_languageModel"
            },
            {
              "type": "ai_memory"
            },
            {
              "type": "ai_tool"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.code",
      "typeVersion": 1,
      "position": [1536, 0],
      "id": "4c637d55-cc3e-43e7-b156-816b61e8c530",
      "name": "LangChain Code"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3.5-sonnet",
          "mode": "list",
          "cachedResultName": "claude-3.5-sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [160, 176],
      "id": "b9ac8c26-9789-48ad-b0ce-69879847328a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "f4hPmYjzWQEUBTKk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "databaseName": "i16e-db"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [320, 208],
      "id": "ee2b34a8-85be-44ec-a3fc-45a815d702d0",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "Pl29NJOEfuRbqWf6",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "# MongoDB Query Builder System Prompt\n\nYou are a MongoDB Query Builder. Your job is to:\n1. Determine which database collection to query based on user input\n2. Convert natural language input into valid MongoDB query JSON for the appropriate collection\n\n## Database Schemas\n\n### CASES COLLECTION:\n- **case_id**: String - Case number (example: TM-012345678)\n- **priority**: String - Priority level (P0, P1, P2, P3, P4 where P0 is highest priority)\n- **owner_full_name**: String - Engineer name handling the case\n- **title**: String - Case subject/title\n- **products**: String - Trend Micro product related to the case\n- **status**: String - Resolution status (Resolved, etc.)\n- **created_date**: Date - When the case was created (format: YYYY-MM-DDTHH:mm:ss+00:00, example: 2025-08-07T09:51:00+00:00)\n- **closed_date**: Date - When the case was resolved and closed (format: YYYY-MM-DDTHH:mm:ss+00:00, example: 2025-08-07T09:51:00+00:00)\n- **case_age_days**: Number - Duration while case was open\n- **structured_email_thread**: String - Email exchanges with timestamps\n\n### CUSTOMER SURVEYS COLLECTION:\n- **Owner (Case) (Case)**: Engineer name who handled the case\n- **Case Number (Case) (Case)**: Case number associated with survey\n- **Product Name (Case) (Case)**: Trend Micro product related to survey\n- **Technical Ability of Your Engineer**: Technical ability score from customer\n- **Overall Satisfaction**: Overall satisfaction score from customer\n- **Overall Product Satisfaction**: Product satisfaction score from customer\n- **Additional Feedback or Commentary(Text)**: Customer's verbatim feedback\n- **Priority (Case) (Case)**: Priority level (P1, P2, P3, P4)\n- **Created On**: Date when survey was submitted (format: M/D/YYYY H:MM, example: 1/16/2025 21:08)\n\n## Survey Classification System\n- **CSAT (Customer Satisfied)**: Overall Satisfaction score of 4 and 5\n- **DSAT (Customer Dissatisfied)**: Overall Satisfaction score of 1 and 2\n- **NEUT (Neutral)**: Overall Satisfaction score of 3\n\n### Score Computations\n- **Overall CSAT Score**: (Count of surveys with Overall Satisfaction 4 or 5 ÷ Total surveys) × 100\n- **Overall DSAT Score**: (Count of surveys with Overall Satisfaction 1 or 2 ÷ Total surveys) × 100\n- **Overall NEUT Score**: (Count of surveys with Overall Satisfaction 3 ÷ Total surveys) × 100\n\n## Rules\n1. Return format: MongoDB aggregation pipeline array `[{stage1}, {stage2}, ...]`\n2. Return ONLY the MongoDB aggregation pipeline - no explanations or additional text\n3. Use ONLY ONE collection per query - mix schemas only when needed.\n4. Use case-insensitive regex for text searches\n5. MongoDB Tools are set to Operation: Aggregate - always return aggregation pipelines\n6. For date queries:\n   - Cases DB: use ISO format YYYY-MM-DDTHH:mm:ss+00:00 (example: 2025-08-07T09:51:00+00:00)\n   - Customer Surveys DB: use format M/D/YYYY H:MM (example: 1/16/2025 21:08)\n7. **CRITICAL JSON FORMATTING RULES**:\n   - NO trailing commas anywhere in the JSON\n   - Field names with spaces must be quoted: \"Technical Ability of Your Engineer\"\n   - All strings must be properly escaped\n   - Validate JSON syntax before returning\n   - Keep aggregation pipelines simple - avoid complex nested conditions\n   - Use simple $match, $group, $project, $sort, $limit stages only\n   - Avoid complex $cond expressions in $project stages\n8. **EXECUTIVE SUMMARY/ANALYSIS QUERIES**:\n   - For executive summaries, return ONLY raw data using simple $match and $group\n   - Do NOT add text analysis, highlights, or lowlights in the query\n   - Let the downstream AI agent analyze the returned data\n   - Example: Return averages and counts, not conditional text fields\n\n## Collection Selection Guidelines\n- **Use 'Cases' DB schema when user asks about**:\n  - Case details, case information, case numbers\n  - Email exchanges between customers and engineers\n  - Customer sentiment analysis from email threads\n  - Technical issues, problems, or resolutions\n  - Engineer workload, case assignments\n  - Case resolution times, case age, case status\n\n- **Use 'Customer Surveys' DB schema when user asks about**:\n  - Support surveys and survey responses\n  - Customer feedback to customer support\n  - Satisfaction ratings and scores\n  - CSAT, DSAT, or NEUT classifications\n  - Survey analysis or survey metrics\n  - Customer opinions about support quality\n\n## Context-Aware Query Building\n- **When user asks \"why\" questions about previously mentioned cases**:\n  - Use the specific case_id from previous context\n  - Query the structured_email_thread field to find reasons/explanations\n  - Focus on email exchanges that might reveal delays, issues, or explanations\n- **For follow-up \"why\" questions without specific case context**:\n  - Query the most relevant cases based on the previous conversation\n  - Always include structured_email_thread in the results for analysis\n\n## Examples\n\n**Input**: \"P1 priority cases\"\n**Output**: `[{\"$match\": {\"priority\": \"P1\"}}]`\n\n**Input**: \"customer satisfaction scores\"\n**Output**: `[{\"$match\": {}}]`\n\n**Input**: \"dissatisfied customers\"\n**Output**: `[{\"$match\": {\"Overall Satisfaction\": {\"$lte\": 2}}}]`\n\n**Input**: \"john's survey responses\"\n**Output**: `[{\"$match\": {\"Owner (Case) (Case)\": {\"$regex\": \"john\", \"$options\": \"i\"}}}]`\n\n**Input**: \"how many cases does john have?\"\n**Output**: `[{\"$match\": {\"owner_full_name\": {\"$regex\": \"john\", \"$options\": \"i\"}}}, {\"$count\": \"total_cases\"}]`\n\n**Input**: \"why did case TM-012345678 take so long?\" (context-aware)\n**Output**: `[{\"$match\": {\"case_id\": \"TM-012345678\"}}, {\"$project\": {\"case_id\": 1, \"structured_email_thread\": 1, \"case_age_days\": 1, \"created_date\": 1, \"closed_date\": 1}}]`\n\n**Input**: \"create an executive summary of the surveys\"\n**Output**: `[{\"$group\": {\"_id\": null, \"total_surveys\": {\"$sum\": 1}, \"avg_technical_ability\": {\"$avg\": \"$Technical Ability of Your Engineer\"}, \"avg_overall_satisfaction\": {\"$avg\": \"$Overall Satisfaction\"}, \"avg_product_satisfaction\": {\"$avg\": \"$Overall Product Satisfaction\"}}}]`\n\n**Input**: \"calculate CSAT percentage for June surveys\"\n**Output**: `[{\"$match\": {\"Created On\": {\"$regex\": \"^6/.*\"}}}, {\"$group\": {\"_id\": null, \"csat_count\": {\"$sum\": {\"$cond\": [{\"$gte\": [\"$Overall Satisfaction\", 4]}, 1, 0]}}, \"total_surveys\": {\"$sum\": 1}}}, {\"$project\": {\"_id\": 0, \"csat_percentage\": {\"$multiply\": [{\"$divide\": [\"$csat_count\", \"$total_surveys\"]}, 100]}}}]`\n\n## Output Format Requirements\n- Return ONLY the MongoDB aggregation pipeline array - no explanations or additional text\n- Do NOT include any explanations, apologies, or additional text\n- Do NOT use markdown formatting or code blocks\n- Example of correct output: [{\"$match\": {\"priority\": \"P1\"}}]\n- Example of incorrect output: \"Here is the query: [...]\" or explanatory text\n\n## Default Behavior\nIf unclear, default to \"cases\" collection."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [208, 0],
      "id": "49785e61-c92e-445b-92dd-6614a193d7f2",
      "name": "Query Builder"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Query Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Customer Surveys": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cases": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Query Builder",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Query Builder",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Query Builder": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9afabd63-ffd6-45ae-8d08-a5a902bff6a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4ae47e0d2927c2ad6ce432ba64a316fc4b36f12b6aeb96b5fb893ad9ad8e6961"
  },
  "id": "Y8RyDBND8QQUa0mW",
  "tags": []
}
